$displays: (
  dn none,
  di inline,
  db block,
  dib inline-block,
  df flex,
  dif inline-flex,
  dt table,
  dtr table-row,
  dit inline-table
);

@each $display in $displays {
  // .df { display: flex; }
  .#{nth($display, 1)} { display: #{nth($display, 2)}; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} { // @media screen and (max-width: 767px) {
      .#{nth($display, 1)}-#{$letters} { display: #{nth($display, 2)}; }
    }
  }
}

.d-initial { display: initial; }
.d-inherit { display: inherit; }

@each $breakpoint in $breakpoints {
  $bp: nth($breakpoint, 1);
  $letters: nth($breakpoint, 2);

  @media #{$bp} { // @media screen and (max-width: 767px) {
    .d-initial-#{$letters} { display: initial; }
    .d-inherit-#{$letters} { display: inherit; }
  }
}
