// .class-name           { rule:         value; }
$flexStuff: (
  (flex-row              flex-direction  row),
  (flex-row-rev          flex-direction  row-reverse),
  (flex-col              flex-direction  column),
  (flex-col-rev          flex-direction  column-reverse),

  (flex-wrap             flex-wrap       wrap),
  (flex-nowrap           flex-wrap       nowrap),
  (flex-wrap-rev         flex-wrap       wrap-reverse),

  (justify-start         justify-content flex-start),
  (justify-end           justify-content flex-end),
  (justify-center        justify-content center),
  (justify-between       justify-content space-between),
  (justify-around        justify-content space-around),
  (justify-evenly        justify-content space-evenly),

  (align-items-start     align-items     flex-start),
  (align-items-end       align-items     flex-end),
  (align-items-center    align-items     center),
  (align-items-baseline  align-items     baseline),
  (align-items-stretch   align-items     stretch),

  (align-content-start   align-content   flex-start),
  (align-content-end     align-content   flex-end),
  (align-content-center  align-content   center),
  (align-content-between align-content   space-between),
  (align-content-around  align-content   space-around),
  (align-content-stretch align-content   stretch),

  (align-self-auto       align-self      auto),
  (align-self-start      align-self      flex-start),
  (align-self-end        align-self      flex-end),
  (align-self-center     align-self      center),
  (align-self-baseline   align-self      baseline),
  (align-self-stretch    align-self      stretch)
);

@each $flexThing in $flexStuff {
  $key: nth($flexThing, 1);
  $rule: nth($flexThing, 2);
  $val: nth($flexThing, 3);

  .#{$key} { #{$rule}: #{$val}; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} {
      .#{$key}-#{$letters} { #{$rule}: #{$val}; }
    }
  }
}

@for $i from 0 through 10 {
  .flex-order-#{$i}  { order: #{$i}; }
  .flex-grow-#{$i}   { flex-grow: #{$i}; }
  .flex-shrink-#{$i} { flex-shrink: #{$i}; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} {
      .flex-order-#{$i}-#{$letters}  { order: #{$i}; }
      .flex-grow-#{$i}-#{$letters}   { flex-grow: #{$i}; }
      .flex-shrink-#{$i}-#{$letters} { flex-shrink: #{$i}; }
    }
  }
}
