.lh-0 { line-height: 0; }
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-initial { line-height: initial; }

@each $breakpoint in $breakpoints {
  $bp: nth($breakpoint, 1);
  $letters: nth($breakpoint, 2);

  @media #{$bp} {
    .lh-0-#{$letters} { line-height: 0; }
    .lh-1-#{$letters} { line-height: 1; }
    .lh-2-#{$letters} { line-height: 2; }
    .lh-initial-#{$letters} { line-height: initial; }
  }
}

// 0.1 - 0.9, 1.1 - 1.9, 2.1 - 2.9
@for $i from 1 through 9 {
  $lh0: $i / 10;
  $lh1: 1 + $lh0;
  $lh2: 1 + $lh1;

  .lh-0-#{$i} { line-height: $lh0; }
  .lh-1-#{$i} { line-height: $lh1; }
  .lh-2-#{$i} { line-height: $lh2; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} {
      .lh-0-#{$i}-#{$letters} { line-height: $lh0; }
      .lh-1-#{$i}-#{$letters} { line-height: $lh1; }
      .lh-2-#{$i}-#{$letters} { line-height: $lh2; }
    }
  }
}
