.overflow-v { overflow: visible; }
.overflow-h { overflow: hidden; }
.overflow-s { overflow: scroll; }
.overflow-a { overflow: auto; }

.overflow-x-v { overflow-x: visible; }
.overflow-x-h { overflow-x: hidden; }
.overflow-x-s { overflow-x: scroll; }
.overflow-x-a { overflow-x: auto; }

.overflow-y-v { overflow-y: visible; }
.overflow-y-h { overflow-y: hidden; }
.overflow-y-s { overflow-y: scroll; }
.overflow-y-a { overflow-y: auto; }

@each $breakpoint in $breakpoints {
  $bp: nth($breakpoint, 1);
  $letters: nth($breakpoint, 2);

  @media #{$bp} {
    .overflow-v-#{$letters} { overflow: visible; }
    .overflow-h-#{$letters} { overflow: hidden; }
    .overflow-s-#{$letters} { overflow: scroll; }
    .overflow-a-#{$letters} { overflow: auto; }

    .overflow-x-v-#{$letters} { overflow-x: visible; }
    .overflow-x-h-#{$letters} { overflow-x: hidden; }
    .overflow-x-s-#{$letters} { overflow-x: scroll; }
    .overflow-x-a-#{$letters} { overflow-x: auto; }

    .overflow-y-v-#{$letters} { overflow-y: visible; }
    .overflow-y-h-#{$letters} { overflow-y: hidden; }
    .overflow-y-s-#{$letters} { overflow-y: scroll; }
    .overflow-y-a-#{$letters} { overflow-y: auto; }
  }
}
