.mha { margin-left: auto; margin-right: auto; }
.mla { margin-left: auto; }
.mra { margin-right: auto; }

@each $breakpoint in $breakpoints {
  $bp: nth($breakpoint, 1);
  $letters: nth($breakpoint, 2);

  @media #{$bp} {
    .mha-#{$letters} { margin-left: auto; margin-right: auto; }
    .mla-#{$letters} { margin-left: auto; }
    .mra-#{$letters} { margin-right: auto; }
  }
}

@for $num from 1 through length($pixelSizes) {
  $i: $num - 1;
  $size: nth($pixelSizes, $num);

  .pa#{$i} { padding: #{$size}px; }
  .pt#{$i} { padding-top: #{$size}px; }
  .pr#{$i} { padding-right: #{$size}px; }
  .pb#{$i} { padding-bottom: #{$size}px; }
  .pl#{$i} { padding-left: #{$size}px; }
  .ph#{$i} { padding-left: #{$size}px; padding-right: #{$size}px; }
  .pv#{$i} { padding-top: #{$size}px; padding-bottom: #{$size}px; }

  .ma#{$i} { margin: #{$size}px; }
  .mt#{$i} { margin-top: #{$size}px; }
  .mr#{$i} { margin-right: #{$size}px; }
  .mb#{$i} { margin-bottom: #{$size}px; }
  .ml#{$i} { margin-left: #{$size}px; }
  .mh#{$i} { margin-left: #{$size}px; margin-right: #{$size}px; }
  .mv#{$i} { margin-top: #{$size}px; margin-bottom: #{$size}px; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} {
      .pa#{$i}-#{$letters} { padding: #{$size}px; }
      .pt#{$i}-#{$letters} { padding-top: #{$size}px; }
      .pr#{$i}-#{$letters} { padding-right: #{$size}px; }
      .pb#{$i}-#{$letters} { padding-bottom: #{$size}px; }
      .pl#{$i}-#{$letters} { padding-left: #{$size}px; }
      .ph#{$i}-#{$letters} { padding-left: #{$size}px; padding-right: #{$size}px; }
      .pv#{$i}-#{$letters} { padding-top: #{$size}px; padding-bottom: #{$size}px; }

      .ma#{$i}-#{$letters} { margin: #{$size}px; }
      .mt#{$i}-#{$letters} { margin-top: #{$size}px; }
      .mr#{$i}-#{$letters} { margin-right: #{$size}px; }
      .mb#{$i}-#{$letters} { margin-bottom: #{$size}px; }
      .ml#{$i}-#{$letters} { margin-left: #{$size}px; }
      .mh#{$i}-#{$letters} { margin-left: #{$size}px; margin-right: #{$size}px; }
      .mv#{$i}-#{$letters} { margin-top: #{$size}px; margin-bottom: #{$size}px; }
    }
  }
}
