.w-33  { width: 33% };
.w-34  { width: 34% };
.vw-33 { width: 33vw };
.vw-34 { width: 34vw };

@each $breakpoint in $breakpoints {
  $bp: nth($breakpoint, 1);
  $letters: nth($breakpoint, 2);

  @media #{$bp} {
    .w-33-#{$letters}  { width: 33% };
    .w-34-#{$letters}  { width: 34% };
    .vw-33-#{$letters} { width: 33vw };
    .vw-34-#{$letters} { width: 34vw };
  }
}

@for $i from 0 through 20 {
  $pct: percentage($i / 20);
  $width: $i * 5;

  .w-#{$width} { width: $pct; }
  .w-min-#{$width} { min-width: $pct; }
  .w-max-#{$width} { max-width: $pct; }
  .vw-#{$width} { width: #{$width}vw; }
  .vw-min-#{$width} { min-width: #{$width}vw; }
  .vw-max-#{$width} { max-width: #{$width}vw; }

  @each $breakpoint in $breakpoints {
    $bp: nth($breakpoint, 1);
    $letters: nth($breakpoint, 2);

    @media #{$bp} {
      .w-#{$width}-#{$letters} { width: $pct; }
      .w-min-#{$width}-#{$letters} { min-width: $pct; }
      .w-max-#{$width}-#{$letters} { max-width: $pct; }
      .vw-#{$width}-#{$letters} { width: #{$width}vw; }
      .vw-min-#{$width}-#{$letters} { min-width: #{$width}vw; }
      .vw-max-#{$width}-#{$letters} { max-width: #{$width}vw; }
    }
  }
}
