* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

// This needs to be first.
// If importing individual scss files into a project,
// you should import this variables file first as well.
@import './variables';

@import './border';
@import './colors';
@import './display';
@import './flexbox';
@import './font-size';
@import './font-styling';
@import './height';
@import './line-height';
@import './location';
@import './misc';
@import './opacity';
@import './overflow';
@import './position';
@import './shades';
@import './spacing';
@import './text';
@import './vertical-align';
@import './white-space';
@import './width';
@import './z-index';
